:host{
    --primary: #3881bd;
    --shadow: 3px 3px 8px rgba(104, 104, 104, 0.8);
    --border: thin solid rgba(97, 95, 95, 0.212);
}

ul{ list-style: none;}
.time-label{
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    border-right:  .1em solid rgba(104, 104, 104, 0.8);
    /* background: -webkit-linear-gradient(left, #1e5799 0%,#2989d8 23%,#d9dfe2 100%);  */
    margin-right: .1em;
    font-weight: bolder;
    text-align: left;
}
.wrapper{
    background-color: var(--primary);
    height: 100%;
    width: 100%;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.times{
    /* align-content: stretch; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* background: -webkit-linear-gradient(left, #1e5799 0%,#2989d8 23%,#d9dfe2 100%);  */
    background-color: #ddd;
    font-size: large;
    border: var(--border);
    padding-top: 10px;
    padding-bottom: 10px;
    border: var(--border);
}

.alert-primary{
    border: var(--border);
    box-shadow: var(--shadow);
}
