<div class="wrapper">
  <ul class="times">
    <li>8:00 am</li>
    <li>9:00 am</li>
    <li>10:00 am</li>
    <li>11:00 am</li>
    <li>12:00 pm</li>
    <li>1:00 pm</li>
    <li>2:00 pm</li>
    <li>3:00 pm</li>
    <li>4:00 pm</li>
    <li>5:00 pm</li>
  </ul>

  <div class="row" *ngFor="let lesson of lessons" style="padding: 0 20px;">
    <div [ngStyle]="{'width': ((lesson.start_time - 8) * (100 / (17 - 8))) + '%', height: '20px'}">
      </div>
      
      <div [ngStyle]="{'width': ((lesson.end_time - lesson.start_time) * (100 / (17 - 8))) + '%'}">
        <div class="alert alert-primary" role="alert">
          Start: {{ lesson.start_time }}, End: {{ lesson.end_time }}
        </div>
    </div>
  </div>

</div>